#monitor-profile-page{
    padding: 20px;

    #monitor-description{
        padding: 20px;
        border: 1px solid #ccc;
        background-color: white;

        img{
            height: 100px;
            width: 100px;
        }
    }
}