#form-container-background {
    padding: 100px 40px 80px 40px;
    position: relative;
    overflow: hidden;
    img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: auto;
        opacity: 0.5;
    }
    .search-form {
        padding: 1rem 1rem 0 1rem;
        background-color: white;
        border: 1px solid #ccc;
    }
}

.map-google {
    height: 210px;
    width: 210px;
}

#search-page {
    .monitor-row {
        cursor: pointer;
    }
    .monitor-avatar {
        height: 116px;
        width: 116px;
    }
    .calendar-container {
        background-color: green;
        width: 50px;
        height: 50px;
    }
    .monitor-price {
        .price {
            color: #1e1e1e;
            font-weight: 600;
        }
    }
}