<div class="container">
    <div class="row">
        <div class="col-lg-6 offset-lg-3 connection-form">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-title-container">
                        <h2 class="page-title">S'inscrire</h2>
                        <p class="page-subtitle">Déjà membre? <a ui-sref="app.login">Se connecter</a></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <form>
                        <div class="form-group">
                            <label for="email" class="control-label">Nom et prénom</label>
                            <input type="text" class="form-control" id="name" placeholder="Votre nom et prénom" ng-model="$ctrl.credentials.name">
                        </div>
                        <div class="form-group">
                            <label for="email" class="control-label">Email</label>
                            <input type="email" class="form-control" id="email" placeholder="Exemple@adresse.com" ng-model="$ctrl.credentials.email">
                        </div>
                        <div class="form-group">
                            <label for="email" class="control-label">Mot de passe</label>
                            <input type="password" class="form-control" id="password" placeholder="Au moins 6 caractères" ng-model="$ctrl.credentials.password">
                        </div>
                        <div class="text-lg-center">
                            <button type="button" ng-click="$ctrl.registerAsStudent()" class="btn btn-raised btn-primary">Je recherche un moniteur</button>
                            <button type="button" ng-click="$ctrl.registerAsMonitor()" class="btn btn-raised btn-primary">Je donne des cours</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>