<nav class="navbar navbar-light" id="navigate">
    <div>
        <a class="navbar-brand" ui-sref="app.home">
            <span>Moniteur de conduite</span>
        </a>
        <ul class="nav navbar-nav float-lg-right" ng-if="!$ctrl.isLoggedIn">
            <li class="nav-item">
                <a class="btn btn-primary" ui-sref="app.register">S'inscrire</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-success" ui-sref="app.login">Se connecter</a>
            </li>
        </ul>
        <ul class="nav navbar-nav float-lg-right" ng-if="$ctrl.isLoggedIn">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="supportedContentDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="user-avatar rounded-circle" src="{{$ctrl.avatarSrc}}" alt="">
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="supportedContentDropdown">
                    <a class="dropdown-item" ui-sref="app.profile">Votre profil</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#" ng-click="$ctrl.logout()">Se déconnecter</a>
                </div>
            </li>
        </ul>
    </div>
</nav>