<div class="container" id="monitor-profile-page">
    <div class="row">
        <div class="col-lg-9" id="monitor-description">
            <div class="row">
                <div class="col-lg-2 text-lg-center">
                    <img class="rounded-circle" src="http://media.npr.org/assets/news/2009/10/27/facebook1_sq-17f6f5e06d5742d8c53576f7c13d5cf7158202a9.jpg?s=16"
                            alt="Card image cap">
                </div>
                <div class="col-lg-10">
                    <div class="row">
                        <div class="col-lg-9">
                            <h2>{{ $ctrl.user.name }}</h2>
                        </div>
                        <div class="col-lg-3 float-lg-right">
                            35€/heure
                        </div>
                    </div>
                    <div class="row">
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <button class="btn btn-raised btn-primary btn-block">Réserver un cours</button>
        </div>
    </div>
</div>