<div class="container">
    <div class="row">
        <div class="col-lg-12 text-lg-center form-group" ng-if="$ctrl.doneSaving">
            <div class="alert alert-success" role="alert">
                <strong>Mis à jour réussie!</strong>
            </div>
        </div>
        <div class="col-lg-10 offset-lg-1 connection-form">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-title-container">
                        <h2 class="page-title">Profile</h2>
                        <p class="page-subtitle"></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <form ng-submit="$ctrl.onSubmit()">
                        <hr>
                        <fieldset class="form-group">
                            <legend>Information Générale</legend>
                            <div class="row">
                                <div class="col-lg-4 text-lg-center">
                                    <img class="rounded-circle user-avatar-edit" src="{{$ctrl.user.authentication.imageUrl}}" alt="" />
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <a href="#" data-toggle="modal" data-target="#myModal">
                                                <span><small><i class="fa fa-pencil" aria-hidden="true"></i>  Modifier votre photo</small></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <div class="form-group row">
                                        <label for="email" class="col-lg-3 col-form-label">Email</label>
                                        <div class="col-lg-9">
                                            <input type="email" class="form-control" disabled="disabled" id="email" placeholder="Enter email" ng-model="$ctrl.user.authentication.email">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="name" class="col-lg-3 col-form-label">Nom et prénom</label>
                                        <div class="col-lg-9">
                                            <input type="text" class="form-control" id="name" placeholder="Name" ng-model="$ctrl.user.authentication.name">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="phone" class="col-lg-3 col-form-label">Phone</label>
                                        <div class="col-lg-9">
                                            <input type="text" class="form-control" id="phone" placeholder="Numero de telephone" ng-model="$ctrl.user.authentication.phone">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <div class="text-lg-center">
                            <button type="submit" class="btn btn-raised btn-primary">Valider</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                <h4 class="modal-title" id="myModalLabel">Modifier votre photo</h4>
            </div>
            <div class="modal-body">
                <form name="myForm">
                    <div class="container">
                        <div class="text-lg-center form-group row">
                            <button ngf-select ng-model="picFile" accept="image/*" class="btn btn-secondary">Select Picture</button>
                        </div>
                        <div class="row">
                            <div class="col-lg-8">
                                <div ngf-drop ng-model="picFile" ngf-pattern="image/*" class="cropArea">
                                    <img-crop image="picFile | ngfDataUrl" result-image="croppedDataUrl" ng-init="croppedDataUrl=''"></img-crop>
                                </div>
                            </div>
                            <div class="col-lg-4 text-lg-center">
                                <img class="rounded-circle croppedImg" ng-src="{{croppedDataUrl}}" />
                            </div>
                        </div>
                    </div>
                    <span ng-show="result">Upload Successful</span>
                    <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-primary" ng-click="$ctrl.upload(croppedDataUrl, picFile.name)" data-dismiss="modal">Sauvegarder</button>
            </div>
        </div>
    </div>
</div>