<div class="container">
    <div class="row form-group">
        <div class="col-xs-1">
            <a>
                <i class="fa fa-chevron-left float-xs-left" aria-hidden="true"></i>
            </a>
        </div>
        <div class="col-xs-10 text-xs-center">
            {{ $ctrl.weekDays[0] | date: 'dd/MM/yyyy' }} - {{ $ctrl.weekDays[6] | date: 'dd/MM/yyyy' }}
        </div>
        <div class="col-xs-1">
            <a>
                <i class="fa fa-chevron-right float-xs-right" aria-hidden="true"></i>
            </a>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered schedule-edit">
            <thead>
                <tr>
                    <td></td>
                    <td ng-repeat="day in $ctrl.weekDays">{{ day | date: 'EEE dd/MM' }}</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="hour in $ctrl.dayHours">
                    <td>
                        <span ng-if="hour.minute == 0">{{ hour | displayHour }}</span>
                    </td>
                    <td ng-repeat="day in $ctrl.weekDays" class="work-hour"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>